/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: $font;
	color: $fontColor;
	background-color: $backgroundColor; 
}


/*----------- HEADER --------------*/
#headerWrapper{border-bottom: 1px solid $primaryColor;}
header {
    padding: .5rem 2%;
	
	h1 {
		margin: 0;
		font-weight: $normalWeight;
		font-size: 2.1rem;
	}// end h1
	h2 {
		margin: 0; 
		font-weight: $normalWeight;
		font-size: 1.3rem;
	} // end h2
}



/*----------- MAIN --------------*/
#mainWrapper {}
main {
    padding: 0 2%;
    min-height: 10rem;
	
	h1 {
		font-weight: $heavyWeight;
		font-size: 2rem;
	} // end h1
	
	div.repos {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 1rem;
		div {
			background-color: rgba(255,255,255,0.8);
			flex-basis: 98%;
			border-radius: 20px;
			margin: .5rem 1%;
			h3 {
				margin: 0;
				padding: .5rem 0;
				font-size: 1.5rem;
				background-color: $secondaryColor; 
				text-align: center;
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
			} // end h3
			p {
				padding: .5rem 2vw 0 2vw;
				margin: 0;
				color: $backgroundColor;
				font-size: 1.2rem;
			}
			a.link, a.link2 {
				display: block;
				font-size: 1.1rem;
				text-decoration: none;
				margin: .8rem 2vw;
				text-align: center;
				padding: .6rem;
				border-radius: 10px;
				color: black;
				font-weight: $heavyWeight;
				background-color: $primaryColor;
				transition: background .5s ease;
			} // end link
			a.link2{background-color:#df6b6b;}
			a.link:hover, a.link2:hover{background-color: lighten($primaryColor, 15%);}
		} // end one repo
	} // end respos
	
	a {
		color: $secondaryColor;
	}
} // end main


/*----------- FOOTER --------------*/
#footerWrapper {background-color: $primaryColor;}
footer {
    
    padding: .5rem 2%;
    text-align: center;
	
	a {
		color: $fontColor;
	}
} // end footer



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}