/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: $font;
	color: $fontColor;
	background-color: $backgroundColor; 
}


/*----------- HEADER --------------*/
#headerWrapper{border-bottom: 1px solid $primaryColor;}
header {
    padding: .5rem 2%;
	
	h1 {
		margin: 0;
		font-weight: $normalWeight;
		font-size: 2.1rem;
	}// end h1
	h2 {
		margin: 0; 
		font-weight: $normalWeight;
		font-size: 1.3rem;
	} // end h2
}



/*----------- MAIN --------------*/
#mainWrapper {}
main {
    padding: 0 2%;
    min-height: 10rem;
	
	h1 {
		font-weight: $heavyWeight;
		font-size: 2rem;
	} // end h1
	
	div.repos {
		display: flex;
		flex-wrap: wrap;
		div {
			background-color: rgba(255,255,255,0.8);
			flex-basis: 50%;
			border-radius: 10px;
			h3 {
				margin: 0;
				padding: .5rem 0;
				background-color: $secondaryColor; 
				text-align: center;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			} // end h3
			p {
				padding: 1rem 2vw;
				margin: 0;
				color: $backgroundColor;
				font-size: 1.2rem;
			}
		} // end one repo
	} // end respos
	
	a {
		color: $secondaryColor;
	}
}


/*----------- FOOTER --------------*/
#footerWrapper {background-color: $primaryColor;}
footer {
    
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}